PORT=3000

DB_CLIENT=pg
DB_HOST=your-db-host
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name
DB_PORT=5432

MQTT_BROKER=mqtt://your-mqtt-host:1883
MQTT_TOPIC=your-mqtt-topic
MQTT_QOS=1
MQTT_USERNAME=your-mqtt-username
MQTT_PASSWORD=your-mqtt-password

SOCKET_HOST=http://your-frontend-host:5173

REDIS_HOST=your-redis-host
REDIS_PASSWORD=your-redis-password
REDIS_PORT=6379